body{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #fafafa;
	color: #111;
	overflow: auto;
	height: 100%;
}

.header{
	padding: 1rem 15%;
	border-bottom: 1px solid #CCC;
	display: flex;
	align-items: center;
	background-color: #FFF;
}

.icon-header i{
	padding-left: 1rem;
	font-size: 150%;
}

.header a{
	font-size: 150%;
	text-decoration: none;
	font-family: 'Merienda One', cursive;
	color: #111;
	padding-right: 0.7rem;
}

.instagram-text{
	padding-left: 0.7rem;
	border-left: 1px solid;
}

.search{
	flex-grow: 1;
	transform: translateX(30%);
}

.type-to-search{
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 5px;
	position: relative;
	width: 30%;
}

.type-to-search::placeholder{
	text-align: center;
	color: #AAA;
}

.type-to-search:focus{
	outline: 0;     
	outline-style: none;     
	outline-width: 0;
}

.search i{
	position: absolute;
	left: 3.5em;
	top: 0.5rem;
	font-size: 0.8rem;
	color: #AAA;
}

.content{
	margin: 2rem 15%;
}

.main .status{
	float: left;
	width: 65%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.clearfix::after{
	content: '';
	clear: both;
	display: block;
}