<!DOCTYPE html>
<html>
<head>
	<title>instagram component</title>
	<link rel="stylesheet" type="text/css" href="./component.css">
	<link rel="stylesheet" type="text/css" href="../css/all.css">
</head>
<body>
	<div class="avt-and-name">
		<div class="avt"></div>
		<div class="name">
			<div class="username">quy.pham.2k</div>
			<div class="main-name">Quý Phạm</div>
		</div>
	</div>
	<div class="status">
		<div class="avt-and-name">
			<div class="avt"></div>
				<div class="name">
					<div class="username">quy.pham.2k</div>
				</div>
		</div>
		<div class="image"></div>
		<div class="interactive"></div>
	</div>
</body>
</html>